
<div class="overlay">

</div>
<div class="overlay2"></div>
<div class= 'container'>
    <div class="container_content">
    <div class="container_content_inner">
    <div class="title">
      <h1 style=" font-size: 70px">NEWS IN DRJSTORE </h1>
    </div>
    <div class="par">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quidem porro quod neque non? Repellat similique, architecto saepe 
        dolor repudiandae, totam, minus illo voluptates inventore tempora 
        animi suscipit neque voluptatem maxime.
        </p>
    </div>
    </div>
    </div>
     <img src='https://c.tenor.com/syaGG1_uLpIAAAAd/girls-aesthetic.gif'  alt="" class="container_img"/>
      </div>

      <div class="toolbar"></div>
  <img class='img2'src='https://i.pinimg.com/originals/78/58/ba/7858ba6c0c3ec90e7a2bc957ca1163ff.gif'/>
      <div class="title2">
        <h1 style="font-size: 80px">TRAILER</h1>
      </div>
      <div class="overlay3"></div>
      <div class='yt'>
        <youtube-player videoId="SoQ7e0zj484"></youtube-player>
      </div>
